<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tardigrade Linksharing</title>
  <meta name="description" content="Awesome Linksharing - Tardigrade Share">

  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link async href="https://fonts.googleapis.com/css?family=Poppins:700|Roboto:300,500" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"  />
</head>

<body>

  <!-- <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="/static/img/tardigradeshare-logo.svg" alt="Tardigrade Share" height="24" loading="lazy">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-cta" href="https://tardigrade.io/" target="_blank">Join Tardigrade</a>
    </div>
  </nav> -->
