<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Awesome Linksharing - Tardigrade Share">

  <link rel="shortcut icon" href=/static/img/favicon.ico type=image/x-icon>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link async href="https://fonts.googleapis.com/css?family=Poppins:700|Roboto:300,500" rel="stylesheet">

  <title>Tardigrade Share</title>

  <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="/static/img/tardigradeshare-logo.svg" alt="Tardigrade Share" height="24" loading="lazy">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-cta" href="https://tardigrade.io/" target="_blank">Join Tardigrade</a>
    </div>
  </nav>

  <div class="container-lg">
    <div class="row justify-content-center">
